<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href = "template.css">
    </head>
    <body>
       <div class = "container">
           <div class = "header">
              <div class = "logo"></div>
              <div class = "companyName">
                    <div class = "cname">Pet Selling</div>
                    <div class = "caption">India</div>
              </div>
            </div>
           <div class = "nav">
               <ul>
                   <li><a href = "#">Home</a></li>
                   <li><a href = "#">Services</a></li>
                   <li><a href = "#">Products</a></li>
                   <li><a href = "#">Profile</a></li>
                   <li><a href = "#">Clients</a></li>

               </ul>
           </div>
           <div class = "Content">
               <div class = "top-content">
                   <div class = "top-content-img1"></div>
                   <div class = "top-content-img2"></div>
               </div>
               <div class = "bottom-content">
                   <div class = "bottom-content-img1"></div>
                   <div class = "bottom-content-text">
                    It is a long established fact that a reader will be distracted
                     by the readable content of a page when looking at its layout.
                     The point of using Lorem Ipsum is that it has a more-or-less
                     normal distribution of letters, as opposed to using 'Content here, 
                     content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                   </div>
                   <div class = "bottom-content-img2"></div>
                </div>
            </div>
           <div class = "footer">&copy;CopyRightsReserved</div>
       </div>
    </body>
</html>